<nav id="header" class="navbar nav-menu navbar-expand-lg">
   <div id="header" class="container">
      <div class="d-flex w-100" id="navbar-menu">
         <div class="mr-auto" id="navbar-menu-left-side">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><%= link_to "Home", statis_site_index_path %> </a> 
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" > <%= link_to "About", '#about' %></a> 
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><%= link_to "Use Cases", '#use_cases' %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><%= link_to "Build", '#cta' %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><%= link_to "Features", '#features' %></a>
      </li>
    </ul>
  </div>
           <div id="navbar-menu-right-side">
	<%= render "social_bar" %>  

          </div>
       </div>
    </div>
 </nav>
  
  </nav>
    <!-- Header -->

  