<nav class="navbar nav-menu navbar-expand-lg">
    <div id="header" class="container">
        <div class="logo mr-auto">
        <!-- Uncomment below if you prefer to use a text logo -->
            <!-- <h1 class="text-light"><a href="/"><span>Vogsphere</span></a></h1> -->


            <a href="/"><%=image_tag("/assets/logo.png",alt:"Vogsphere",class:"img-fluid logo")%></a>
        </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <%= link_to "About", '#about', class:"nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Use Cases", '#use_cases', class:"nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Features", '#features', class:"nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Build", '#contact', class:"nav-link btn btn-outline-primary btn-sm" %>
                </li>
            </ul>
        </nav>
    </div>
</nav>
    <!-- Header -->

  