  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav navbar-right">
	    <li class="nav-item active">
		  <%= link_to href="https://www.twitter.com/vogsphereio" do %>
		      <i class="fab fa-twitter fa-2x"></i>
		  <% end %>
	    </li>
	    <li class="nav-item active">
		  <%= link_to href="https://www.youtube.com/channel/UCoYQr_EX14NhiXkisPh5NyA/" do %>
		      <i class="fab fa-youtube fa-2x" ></i>
		  <% end %>
	    </li>
	    <li class="nav-item active">
		  <%= link_to href="https://github.com/vogsphereio/vogsphere" do %>
		      <i class="fab fa-github fa-2x"></i>
		  <% end %>
	    </li>
	    <li class="nav-item active">
		  <%= link_to href="https://t.me/vogsphereio" do %>
		      <i class="fab fa-telegram-plane fa-2x"></i>
		  <% end %>
	    </li>
	    <li class="nav-item active">
		  <%= link_to href="https://medium.com/@vogsphere" do %>
		      <i class="fab fa-medium-m fa-2x"></i>
		  <% end %>
	    </li>
	    <li class="nav-item active">
		  <%= link_to href="mailto:info@vogsphere.io" do %>
		      <i class="fas fa-envelope fa-2x"></i>
		  <% end %>
	    </li>
    </ul>
  </div>